pics/
build_labels.log
js/src/build/
standalone/android/project/assets/
js/game-en.js
js/mr.js
js/md5.js
js/editor.js
js/game-ru.js
js/game-ui.js
js/game.js
js/labels_en.js
js/common.js
js/mr.chart.js
standalone/MafiaTournament/.vs/
standalone/MafiaTournament/ToutnamentSeating/bin/
standalone/MafiaTournament/ToutnamentSeating/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
standalone/MafiaTournament/ToutnamentSeating/obj/
standalone/SourceGrid_4_40_src/SourceGrid/bin/Debug/SourceGrid.dll
standalone/SourceGrid_4_40_src/SourceGrid/bin/
standalone/SourceGrid_4_40_src/SourceGrid/obj/
standalone/MafiaTournament/Debug/Numbers.exe
standalone/MafiaTournament/Debug/
standalone/MafiaTournament/Numbers/Debug/
standalone/MafiaTournament/Sitting/Debug/
*.user
js/local.js
js/seating.js
js/seating-ui.js
js/seating-ru.js
js/seating-en.js
include/google_geo_key.php
include/pdf/font/unifont/timesbd.mtx.php
include/pdf/font/unifont/timesbd.cw127.php
include/pdf/font/unifont/timesbd.cw.dat
include/pdf/font/unifont/times.mtx.php
include/pdf/font/unifont/times.cw127.php
include/pdf/font/unifont/times.cw.dat
include/pdf/font/unifont/arial.mtx.php
include/pdf/font/unifont/arial.cw127.php
include/pdf/font/unifont/arial.cw.dat
js/scoring_editor.js
sounds/
js/normalizer_editor.js
rebuild_ratings.log
complete_competitions.log
js/seating_ua.js
js/seating_ru.js
js/seating_en.js
js/game_ua.js
js/game_ru.js
js/game_en.js
/plugins/obs/PlayersOverlayPlugin/builds/*
api/ops/MWT.txt
